# Pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-illegal-windows-names
      - id: check-builtin-literals
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-xml
      - id: name-tests-test
      - id: pretty-format-json
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: ["--fix=lf"]

  - repo: https://github.com/pappasam/toml-sort
    rev: v0.24.3
    hooks:
      - id: toml-sort-fix
        args: ["--all", "--in-place"]

  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: 1.7.0
    hooks:
      - id: tox-ini-fmt

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.15.2
    hooks:
      - id: zizmor

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: ["--fix", "--show-fixes", "--exit-zero"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args: ["--write"]
        files: \.(json|md|yaml|yml|html|css|qml)$
        additional_dependencies:
          - "prettier@3.6.2"
          - "@prettier/plugin-xml"

  # - repo: https://github.com/baiyao105/qml-formatter
  #   rev: v1.0.1
  #   hooks:
  #     - id: qml-format

  # - repo: https://github.com/rhysd/actionlint
  #   rev: v1.7.7
  #   hooks:
  #     - id: actionlint
